///////////////// CORES
$cor1: #d91f26; // vermelho
$cor2: #f37721; // laranja
$cor3: #5a3a95; // roxo
$cor4: #0095b7; // azul
$padrao: #333; // cinza



///////////////// MIXINS

%fix {
    &:before, &:after { content: ""; display: table;}
    &:after {clear: both;}
}


///////////////// FONTES

$fonte-destaque: 'Yanone Kaffeesatz',sans-serif;
$fonte-padrao: 'Source Sans Pro',sans-serif;

@mixin fonte-destaque {
    font-family: $fonte-destaque;
    letter-spacing: 0.05em;
}


///////////////// GERAL
// container
.container {
	width: 980px;
	max-width: 100%;
	margin: 0 auto; 
	position: relative;
}

// formatacoes
a, a:link, a:visited, a:active, a:focus {
	text-decoration:  none;
    // word-break: break-all;
    color: lighten($padrao,10%);
    @include transition(all 0.3s ease-in-out);

    article p & {
        box-shadow: inset 0 -4px 0 transparentize($padrao,0.8);

        &:hover {
            box-shadow: inset 0 -4px 0 transparentize($padrao,0.65);
        }
    }
}


h1, h2 {
    @include fonte-destaque;
    color: $padrao;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}


p {
    margin: 0 0 25px;
}


figure {
    margin: 0 0 25px;

    img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        margin: 10px 0 0 0;
        font-size: 0.9em;
        text-align: center;
        display: block;
        color: lighten($padrao,20%);
    }
}


table{
    margin: 2em 0;
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    border-spacing: 0;
    border: 1px solid;
    border-right-width: 0;
    border-left-width: 0;
    th, td{
        margin: 0;
        border: 1px dotted hsl(0,0,65%);
        border-top-width: 0;
        border-left-width: 0;
        // background-color: hsl(0,0, 97%);
        padding: 0.4em 0.8em;
        &:last-child{
            border-right-width: 0;
        }
    }

    caption{
        margin-top: 0.5em;
        caption-side: bottom;
        font-size: 1em;
        line-height: 1.2;
        color: gray;
    }
}


// listas
dl {
    dt, dd {margin: 0; padding: 0;}
    dt {margin-top: 25px; font-weight: bold;}
}


// divisoria
hr {
    width: 100%;
    height: 6px;
    background: url('../img/headerpattern.jpg') repeat-x center top / 50%;
    margin: 30px 0;
    border: 0;
}


.ocultar {
    visibility: hidden;
}

// paginacao
span.pagina {
    display: block;
    width: 100%;
    color: hsl(0, 0%, 70%);
    text-align: right;
    // border-top: 1px dotted hsl(0, 0%, 80%);
    font-size: 0.85em;
    margin: 15px 0 0;
    padding: 0 20px;
    position: relative;

    &:before {content: "P\00E1gina"; display: inline-block; margin-right: 8px;}

    &:after {
        content: "";
        width: 100%;
        height: 300px;
        top: -300px;
        left: 0;
        position: absolute;
        @include linear-gradient(to top, #f9f9f9, #fff);
        z-index: -1;
    }
}

article:first-of-type span.pagina:first-of-type:after {display: none;}